* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px !important;
}
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#root {
  overflow: auto;
}